<div class="w-screen h-screen">
  <div class="flex w-full h-full justify-center items-center">
    <div class="w-[400px] shadow-xl rounded-xl p-5">
      <div class="flex justify-center py-4">
        <img alt="logo" class="h-16" src="/assets/images/pokemon-logo.png" />
      </div>

      <div class="flex flex-col space-y-4">
        <div class="text-center">
          <h1 class="text-2xl font-semibold tracking-tight mb-2">
            Welcome back!
          </h1>
          <p class="text-sm text-gray-600">
            Enter your username or email below to login
          </p>
        </div>

        <form
          nz-form
          autocomplete="off"
          class="flex flex-col space-y-6"
          [formGroup]="registerForm"
          (ngSubmit)="onSubmit()"
        >
          <div class="space-y-4">
            @if ($errorMessage()) {
              <div class="w-full text-red-600">
                {{ $errorMessage() }}
              </div>
            }

            <div class="space-y-2">
              @let email = registerForm.get("email");
              @if (email) {
                <nz-form-item>
                  <nz-form-label [nzSpan]="24" nzFor="email"
                    >Email</nz-form-label
                  >
                  <nz-form-control [nzSpan]="24" [nzErrorTip]="errorTpl">
                    <input
                      type="text"
                      nz-input
                      autocapitalize="none"
                      autocomplete="off"
                      autocorrect="off"
                      class="w-full"
                      formControlName="email"
                      id="email"
                      placeholder="name@example.com"
                      type="text"
                    />
                  </nz-form-control>

                  <ng-template #errorTpl let-control>
                    @if (control.errors?.["required"]) {
                      Please input your email!
                    }
                    @if (control.errors?.["email"]) {
                      Please input a valid email!
                    }
                  </ng-template>
                </nz-form-item>
              }
            </div>

            <div class="space-y-2">
              @let name = registerForm.get("name");
              @if (name) {
                <nz-form-item>
                  <nz-form-label [nzSpan]="24" nzFor="name">Name</nz-form-label>
                  <nz-form-control [nzSpan]="24" [nzErrorTip]="errorTpl">
                    <input
                      type="text"
                      nz-input
                      class="w-full"
                      formControlName="name"
                      id="name"
                      placeholder="Your name"
                    />
                  </nz-form-control>

                  <ng-template #errorTpl let-control>
                    @if (control.errors?.["required"]) {
                      Please input your name!
                    }
                  </ng-template>
                </nz-form-item>
              }
            </div>

            <div class="space-y-2">
              @let password = registerForm.get("password");
              @if (password) {
                <nz-form-item>
                  <nz-form-label [nzSpan]="24" nzFor="password"
                    >Password</nz-form-label
                  >
                  <nz-form-control [nzSpan]="24" [nzErrorTip]="errorTpl">
                    <nz-input-group nzPrefixIcon="lock">
                      <input
                        type="password"
                        nz-input
                        id="password"
                        autocomplete="new-password"
                        formControlName="password"
                        placeholder="Password"
                      />
                    </nz-input-group>
                  </nz-form-control>

                  <ng-template #errorTpl let-control>
                    @if (control.errors?.["required"]) {
                      Please input your password!
                    }
                    @if (control.errors?.["minlength"]) {
                      Password must be at least
                      {{ control.errors?.["minlength"].requiredLength }}
                      characters!
                    }
                  </ng-template>
                </nz-form-item>
              }
            </div>
          </div>

          <button
            class="w-full"
            nz-button
            type="submit"
            [disabled]="isSubmitDisabled"
          >
            @if ($isPending()) {
              <span>Loading...</span>
            } @else {
              <span>Register</span>
            }
          </button>
        </form>
      </div>

      <div class="flex items-center justify-center gap-3 pt-4">
        <p class="text-sm text-gray-500 !mb-0">Already have an account?</p>
        <a
          class="text-sm text-blue-600 hover:text-blue-800 font-semibold cursor-pointer"
          [routerLink]="loginLink"
          >Login</a
        >
      </div>
    </div>
  </div>
</div>
