<nz-layout class="app-layout">
  <nz-sider
    class="menu-sidebar"
    nzCollapsible
    nzWidth="256px"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null"
  >
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo" />
        <h1>Ant Design of Angular</h1>
      </a>
    </div>
    <ul nz-menu nzMode="inline">
      <li nz-menu-item [routerLink]="dashboardLink">
        <nz-icon nzType="layout" />
        <span>Dashboard</span>
      </li>
      <li nz-menu-item [routerLink]="pokemonLink">
        <nz-icon nzType="smile" />
        <span>Pokemon</span>
      </li>
      <li nz-menu-item [routerLink]="favoritesLink">
        <nz-icon nzType="star" />
        <span>Favorites</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <nz-icon
            class="trigger"
            [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
          />
        </span>
        <span (click)="onToggleTheme()">
          <nz-icon
            class="trigger text-xl"
            [nzType]="$isDarkTheme() ? 'sun' : 'moon'"
            nzTheme="outline"
          />
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
