<div class="mb-6">
  <div nz-row [nzGutter]="16" nzAlign="middle">
    <div nz-col [nzSpan]="12">
      <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
        <input
          type="text"
          nz-input
          placeholder="Search Pokemon by name..."
          [ngModel]="$searchValue()"
          (ngModelChange)="onSearchChange($event)"
        />
      </nz-input-group>
      <ng-template #suffixIconButton>
        <button nz-button nzType="primary" nzSearch>
          <span nz-icon nzType="search"></span>
        </button>
      </ng-template>
    </div>
    <div nz-col [nzSpan]="4">
      <nz-switch
        nzShowTrueLabel
        [ngModel]="$legendary()"
        (ngModelChange)="onLegendaryChange($event)"
        nzCheckedChildren="Legendary"
        nzUnCheckedChildren="Legendary"
      ></nz-switch>
    </div>
    <div nz-col [nzSpan]="8" class="text-right">
      <input type="file" #fileInput accept=".csv" style="display: none" />
      <button nz-button nzType="primary" (click)="fileInput.click()">
        <span nz-icon nzType="upload"></span>
        Import CSV
      </button>
    </div>
  </div>
</div>

<div nz-row [nzGutter]="[32, 32]">
  @if ($isPending()) {
    <div
      class="w-full h-[calc(100vh-300px)] flex justify-center items-center py-8"
    >
      <nz-spin nzSize="large" nzSimple></nz-spin>
    </div>
  } @else {
    @for (item of $pokemonList(); track item.id) {
      <div nz-col [nzSpan]="6">
        <app-pokemon-card [data]="item"></app-pokemon-card>
      </div>
    }
  }
</div>

<div class="pt-8">
  <nz-pagination
    [nzPageIndex]="$currentPage()"
    [nzTotal]="$totalCount()"
    nzShowSizeChanger
    [nzPageSize]="$pageSize()"
    (nzPageIndexChange)="onCurrentPageChange($event)"
    (nzPageSizeChange)="onPageSizeChange($event)"
  ></nz-pagination>
</div>
